<!-- Start Header -->
<header>
    <div class="subheader clearfix">
        <div class="inner-subheader">
            <div class="phone">+1 855 445 3233</div>

            <div class="subheader2">
                <ul>
                    <!--<li><a href="/auth/login">Login</a></li>-->
                </ul>               
            </div>
        </div>
    </div>
    <div class="row2">
        <div class="upper-header">
            <div class="logo">
            <h2><a href="/">TopDoc</a></h2>
            </div>
            <!-- Navigation -->
            <nav id="nav">
                <ul id="navlist" class="sf-menu clearfix">
                    <li class="current"><a href="/home">Home</a></li>
                    <!--<li><a href="/register">Register Now</a></li>-->
                </ul>
            </nav>
            <!-- Navigation -->
            <div class="clear"></div>
        </div>
        <!-- End Upper Header -->
    </div>
    <!-- End Row2 -->
</header>
<!-- End Header -->
