<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>SearchForTopDoc</title>
    
    <meta http-equiv="Content-Type" content="text/html">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Search online for the top doctor in your area, we fetch data from various sites" />
    <meta name="keywords" content="search for a top doc">
    <meta name="copyright" content="SearchForaTopDoc.com">
    <meta http-equiv="Content-Language" content="en">
    <meta name="Rating" content="General">
    <meta name="Distribution" content="Global">
    <meta name="Robots" content="INDEX,FOLLOW">
    <meta name="Revisit-after" content="1 Day">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
    <link href="{echo CDN}css/style.css" rel="stylesheet">
</head>

<body>

    {include layouts/navigation/standard.html}
    {ayield action}

    <!-- jQuery Version 1.11.1 -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js?extension=.js&output=embed"></script>
    <script src="{echo CDN}plugins/Mapy/markerclusterer_compiled.js"></script>
    <script src="{echo CDN}plugins/Mapy/list.js"></script>
    <script src="{echo CDN}plugins/Mapy/mapster.js"></script>
    <script src="{echo CDN}plugins/Mapy/map-options.js"></script>
    <script src="{echo CDN}plugins/Mapy/jqueryui.mapster.js"></script>
    <script src="{echo CDN}js/script-1.0.js"></script>
</body>

</html>
