<!-- Slider -->
<div class="slider">
    <div class="flexslider">
        <ul class="slides">
            <li>
                <img src="{echo CDN}images/slider-img.jpg" />
            </li>
            <li>
                <img src="{echo CDN}images/slider-img.jpg" />
            </li>
        </ul>
    </div>
    <!-- Book Apointment -->
    <div class="book-form">
        <div class="inner-form">
            <h4><img src="{echo CDN}images/search.png" alt="">Search for a TopDoc</h4>
            <form id="contact-form2" action="#" class="docSearch">
                <div class="inputs">
                    <input name="location" id="city" type="text" data-value="City Name">
                    <input name="zip" id="zip" type="text" data-value="Zip Code">
                    <input name="doctor" id="name" type="text" data-value="Doctor Name - Optional">
                    <select class="selects" name="speciality_id">
                        {include layouts/specialities.html}
                    </select>
                </div>
                <input id="submit_contact2" type="submit" value="Search Now">
                <div id="msg2" class="message"></div>
            </form>
        </div>
    </div>
    <!-- End Book Apointment -->
</div>
<!-- End SLider -->
<!-- Container -->
<div class="wrapper">
    <!-- Recent Works -->
    <div class="row5 dark">
        <div class="row5-text column8" id="docSearch">
            <h4>Services</h4>
            <div class="border"></div>
            <p>Search for a Top Doc is the ultimate search functionality . Find your medical Practitioner quick and effortlessly with no frills and no fuss.</p>
        </div>
        <div class="stats column4" id="map-canvas">
            <h4>Some Statistics</h4>
            <div class="border"></div>
            <p>Qualified Doctors:</p>
            <div class="number">6549</div>
            <p>Locations:</p>
            <div class="number">1329</div>
        </div>
        <div class="clear"></div>
    </div>
    <!-- End Recent Works -->
    <div class="l-more">
        <div class="l-banner">
            <p><strong>Top Doc</strong> has a widest range of health care doctors, to fill all your medical needs</p>
            <a href="#">Learn More</a>
            <div class="clear"></div>
        </div>
    </div>

    <div class="row4 dark">
        <!-- Accordion -->
        <div class="accordion column6">
            <div class="recent-projects">
            <h4>Testimonials</h4>
            <div class="border"></div>
            <ul class="dark">
                <li class="">
                    <img src="images/news1.jpg" alt="">
                    <h4>Proin gravida nibh vel velit auctor aliquet aenean sollicitudin</h4>
                    <p>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh</p>
                    <a href="#" class="details">Read More</a>
                </li>
            </ul>
            <div class="clear"></div>
        </div>
        </div>
        <!-- Client Testimonials -->
        <div class="testimonials column6">
            <div class="border"></div>
            <div class="bx-wrapper" style="max-width: 100%; margin: 0px auto;">
                <div class="bx-viewport" style="width: 100%; overflow: hidden; position: relative; height: 270px;">
                    <ul class="bxslider fade p0 m0" data-autoslide="0" data-autoslide_on="0" style="width: auto; position: relative;">
                        <li style="float: none; list-style: none; position: absolute; width: 570px; z-index: 50; display: block;">
                            <blockquote class="speech-bubble">
                                <div class="quote-content">
                                    <p class="m0">I use TocDoc to search for all my doctors. This just makes it so easy!</p>
                                    <span class="quote-arrow"></span>
                                </div>
                                <div class="quote-meta"><strong>John Smith</strong>
                                    <span>- Web Designer</span>
                                </div>
                            </blockquote>
                        </li>
                    </ul>
                </div>
                <div class="bx-controls bx-has-controls-direction">
                    <div class="bx-controls-direction"><a class="bx-prev" href="">Prev</a><a class="bx-next" href="">Next</a></div>
                </div>
            </div>
        </div>
        <!-- End Client Testimonials -->
        <div class="clear"></div>
        <br><br>
    </div>
</div>
<!-- End Wrapper -->
