<div id="map-canvas"></div>
<div class="container-fluid" id="main">
    <div class="row">
        <div class="col-xs-8" id="left">
            <h2 class="text-center page-header">Search for a Top Doctor</h2>
            <p>We help you to find the top doctors by comparing reviews of thousands of user from different sites. So, select a speciality and enter any zip code, we will show you the best doctors we can find.</p>

            <p>You can always contact us info@searchforatopdoc.com, for adding new data.</p>

            <h3>How it Works?</h3>
            <img src="{echo CDN}images/bot.png" alt="Search Doc Bot">
            <p>We fetch the data from various sites, stores  into our database process them and show it to you.</p>

            <br>
            <img src="{echo CDN}images/data.jpg" alt="Search Doc Bot Data">
            <p>We use various algorithm to sort data and show you on site.</p>

            <hr>
            <small class="pull-right">Developed by <a href="http://cloudstuffs.com/">cloudstuffs.com</a> </small>
        </div>
        <div class="col-xs-4">
            <!--map-canvas will be postioned here-->
        </div>
    </div>
</div>