<div class="clear"></div>
<div class="banner">
    <div class="inner-banner">
        <div class="note"></div>
        <div class="site-map">
            You are here:<a href="home.html">Home</a> &gt; Contact Us
        </div>
        <div class="clear"></div>
    </div>
</div>
<!-- Container -->
<div class="wrapper">
    <div class="contact-row dark">
        <div class="contact2 column4">
            <h4></h4>
            <div class="border"></div>
            <p>Please be specific about entering the info so we can verify</p>
        </div>
        <div class="msg-form column8">
            <h4>Regsiter Now</h4>
            <div class="border"></div>
            <form id="contact-form" action="#">
                <input name="name" id="name" type="text" data-value="name">
                <input name="mail" id="mail" type="text" data-value="email">
                <input name="name" id="name" type="text" data-value="name">
                <input name="mail" id="mail" type="text" data-value="email">
                <input name="name" id="name" type="text" data-value="name">
                <select class="selects" name="speciality_id">
                        {include layouts/specialities.html}
                    </select>
                <input type="submit" id="submit_contact" value="Submit">
                <div id="msg" class="message"></div>
            </form>
        </div>
        <div class="clear"></div>
    </div>
</div>
<!-- End Wrapper -->
